build
logs
target
/.idea
/.idea_modules
/.classpath
/.gradle
/.project
/.settings
/RUNNING_PID
public/javascripts/*.map
public/javascripts/*.js
public/javascripts/*.map
public javascripts/glyphicons*
